<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BookHub</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>SessionController</display-name>
    <servlet-name>SessionController</servlet-name>
    <servlet-class>bookhub.service.SessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionController</servlet-name>
    <url-pattern>/SessionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>bookhub.service.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>bookhub.service.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SampleServlet</display-name>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>bookhub.service.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>bookhub.service.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DownloadController</display-name>
    <servlet-name>DownloadController</servlet-name>
    <servlet-class>bookhub.service.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadController</servlet-name>
    <url-pattern>/DownloadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageRedirect</servlet-name>
    <servlet-class>bookhub.service.PageRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageRedirect</servlet-name>
    <url-pattern>/PageRedirect</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>bookhub.service.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
        
         D:\BookHubDocs
     </param-value>
  </context-param>
</web-app>